libspud/diamond/tests/schema/first.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <include href="spud_base.rng"/>
  <start>
    <element name="test">
      <element name="example_real_tensor">
        <ref name="real_tensor"/>
      </element>
      <element name="example_real_vector">
        <ref name="real_vector"/>
      </element>
    </element>
  </start>
</grammar>
